<ion-view view-title="{{issue.straat}} {{issue.huisnummer}}">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-image">
                <img src="./img/chasseveld.png"/>
            </div>
        </div>
        <div class="list list-inset">
            <div class="item">
                {{issue.streetName}} {{issue.houseNumber}}
            </div>
            <div class="item">
                {{issue.postalCode}} {{issue.place}}
            </div>
            <div class="item item-text-wrap">
                {{issue.description}}
            </div>
        </div>
        <div class="list list-inset">
            <div class="item" ng-if="!issue.dateResolved">
                <span translate="ISSUES_ADDED_AT_DATE"></span>
                {{issue.dateCreated | date : 'dd-MM-yyyy'}}
            </div>
            <div class="item" ng-if="issue.dateResolved">
                <span translate="ISSUES_SOLVED_AT_DATE"></span>
                {{issue.dateResolved | date : 'dd-MM-yyyy'}}
            </div>
        </div>
        <div class="card">
            <div class="item item-image">
                <img src="img/kaart.png"/>
            </div>
        </div>
    </ion-content>
</ion-view>
