<ion-view view-title="{{'ISSUES_LIST_TITLE' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-plus-outline"
                ui-sref="app.issues.add"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-thumbnail-left item-icon-right item-text-wrap"
                 ng-repeat="issue in issues"
                 ui-sref="app.issues.details({ issueId : issue._id })">
                <img ng-src="{{ issue.photo }}">
                <h2>{{ issue.streetName }} {{ issue.houseNumber }}</h2>
                <p>{{ issue.postalCode }} {{ issue.place }}</p>
				<p>{{ issue.description }}</p>
                <p ng-if="issue.dateCreated">
                    <span translate="ISSUES_ADDED_AT_DATE"></span>
                    {{issue.dateCreated | date : 'dd-MM-yyyy'}}
                </p>
                <p ng-if="issue.dateResolved">
                    <span translate="ISSUES_SOLVED_AT_DATE"></span>
                    {{issue.dateResolved | date : 'dd-MM-yyyy'}}
                </p>
                <i class="icon icon-accessory ion-ios-arrow-right "></i>
            </div>
        </div>
    </ion-content>
</ion-view>