<ion-view view-title="{{issue.streetName}} {{issue.houseNumber}}">
    <ion-content class="padding">
        <div class="card" ng-if=issue.fullimage>
            <div class="item item-image">
                <img ng-src="{{issue.fullimage}}">
			</div>
        </div>
        <div class="list list-inset">
            <div class="item">
                <span ng-if="issue.streetName">{{issue.streetName}} {{issue.houseNumber}}</span>
            </div>
            <div class="item">
                <span ng-if="issue.zipCode">{{issue.zipCode}}</span>
                <span ng-if="issue.city">{{issue.city}}</span>
            </div>
            <div class="item item-text-wrap">
                {{issue.description}}
            </div>
        </div>
        <div class="list list-inset">
            <div class="item" ng-if="!issue.dateResolved">
                <span translate="ISSUES_ADDED_AT_DATE"></span>
                {{issue.dateCreated | date : 'dd-MM-yyyy'}}
            </div>
            <div class="item" ng-if="issue.dateResolved">
                <span translate="ISSUES_SOLVED_AT_DATE"></span>
                {{issue.dateResolved | date : 'dd-MM-yyyy'}}
            </div>
        </div>
        <ui-view name="map"></ui-view>
    </ion-content>
</ion-view>
