<ion-view view-title="{{'MAP_TITLE' | translate}}" id="map-view">
    <ion-content>
        <div id="map" data-tap-disabled="true">
            <ion-spinner id="map-spinner" ng-hide="hideSpinner"></ion-spinner>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button id="route-button" class="button button-positive map-button" ng-click="walkRoute()">
            {{ 'MAP_ROUTE_START' | translate }}
        </button>

        <button id="refresh-button" class="button button-energized" style="width:20%;left:5%;%" ng-click="refreshMap()">
            {{ 'MAP_ROUTE_REFRESH_TITLE' | translate }}
        </button>

        <button id="issue-button" class="button button-balanced map-button" ng-click="createIssue()">
            {{ 'ISSUES_ADD_TITLE' | translate }}
        </button>
    </ion-footer-bar>
</ion-view>
